body{
    margin:0;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;color:#fff;
    text-align:center;
    
}
.section{max-width:922px;margin:2rem auto;padding:0 1rem;text-align:center;background-color:rgba(0,0,0,.50)}
.info_proyect{background-color:rgba(0,0,0,.50);max-width:max-content;margin:1rem auto;padding:0 1rem;text-align:start}
.info_proyect h2 {
    text-align: center
}
.donation{background-color:rgba(0,0,0,.75);max-width:max-content;margin:1rem auto;padding:0 1rem;text-align:center}
.donation img{max-width:280px;width:100%;height:auto;border-radius:8px}
